<%- include('layouts/header.ejs') %>

<h2 class="mb-4">Hii, <%= user.name %></h2>

<div class="row">
  <div class="col-6">
    <div class="list-group">
      <% if(users.length > 0){ for (let i = 0; i <users.length; i++){ %>
      <button class="list-group-item list-group-item-dark cursor-pointer " >
        <img src="<%= 'http://127.0.0.1:5000/ '+users[i]['image'] %>" alt="" width="100px" />

        <h2 class="mb-4 click"> <%= users[i]['name'] %></h2>
       
      </button>
      <% } } %>
    </div>
      
    </div>
  </div>
  <div class="col-6">


    <h3  id="head" > Click to start the chat</h3>
    <div id="element" >
 <div class="bg-primary-subtle p-5 "  > 
   <div class="p-5" >

   </div>
 </div>
    <form action="" id="chat-form">
            <input type="text" name="message" placeholder="Enter message" id="message" required >
            <input type="submit" value="send message">
            
          </form>
          <button id="close">close chat</button>

    </div>



  </div>
</div>

<script>

$(document).ready(function(){

  $('#element').hide();

  $('.click').click(function(){
    $('#element').show()
  })
  $('.click').click(function(){
    $('#head').hide()
  })

  $('#close').click(function(){
    $('#head').show()
  })
  $('#close').click(function(){
    $('#element').hide()
  })


});


</script>

<%- include('layouts/footer.ejs') %>

<!-- <a href="/logout">Logout</a> -->
